body {
  font-family: "Nunito Sans", Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #1b1b1b;
  color: #fff;
}

header {
  background-color: #1b1b1b;
  color: #fff;
  padding: 20px;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 2.5em;
}

header h2 {
  margin: 0;
  font-size: 51px;
}

.title {
  color: #ffc107;
  font-weight: 700;
}

.trailer-types {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.trailer {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 12px;
  padding: 32px 24px;
  margin: 10px 5px;
  width: calc(45% - 10px);
  box-shadow: -3px 3px 0px 0px #c7c7c7;
  color: #fff;
  background-size: cover;
  background-position: center;
  backdrop-filter: blur(5px);
}

#double-drop-deck {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("images/image1.jpeg");
}

#step-deck {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("images/image2.jpeg");
}

#removable-gooseneck {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("images/image3.jpeg");
  background-position: bottom;
}

#flatbed {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("images/image4.jpeg");
}

.trailer-info {
  font-size: 18px;
  line-height: 32px;
}

.trailer h3 {
  margin-top: 0;
  font-size: 24px;
  margin-bottom: 10px;
}

.trailer h5 {
  margin: 0;
}

.trailer p {
  margin: 0px;
}

.trailer p:first-of-type {
  color: #ffc107;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #1b1b1b;
  color: #fff;
}

.explore-button {
  background-color: #ffc107;
  color: #333;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 18px;
  border-radius: 100px;
}

.explore-button:hover {
  background-color: #e0a800;
}
